# Alibaba Cloud OSS
OSS_ACCESS_KEY_ID=
OSS_ACCESS_KEY_SECRET=
OSS_BUCKET=folip-transit
OSS_REGION=oss-cn-hangzhou
OSS_CUSTOM_DOMAIN=

# Alibaba Cloud TableStore
TABLESTORE_ENDPOINT=https://folip-ots.cn-hangzhou.ots.aliyuncs.com
TABLESTORE_INSTANCE=folip-ots
OTS_ACCESS_KEY_ID=
OTS_ACCESS_KEY_SECRET=

# JWT Secrets (generate with: node -e "console.log(require('crypto').randomBytes(64).toString('hex'))")
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
